In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import qgrid

In [3]:
data = pd.read_excel("V_order_prior.xlsx", index_col=0,sheetname=1)
data.head()

,1,10,23,25,27,28,34,45,54,79,...,49533,49567,49588,49605,49610,49618,49621,49628,49667,49683
Row Labels,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
frequent_itemsets = apriori(data, min_support=0.005, use_colnames=True)

In [5]:
frequent_itemsets.head()

    support itemsets
0  0.011271     [45]
1  0.009393    [196]
2  0.007514    [260]
3  0.009393    [432]
4  0.008140    [890]

In [6]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

  antecedants consequents   support  confidence      lift
0     (21137)      (5876)  0.081403    0.069231  2.256358
1      (5876)     (21137)  0.030683    0.183673  2.256358
2     (24852)     (27966)  0.162179    0.057915  1.422928
3     (27966)     (24852)  0.040701    0.230769  1.422928
4     (22825)     (24852)  0.016281    0.346154  2.134393

In [7]:
rules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 5 columns):
antecedants    258 non-null object
consequents    258 non-null object
support        258 non-null float64
confidence     258 non-null float64
lift           258 non-null float64
dtypes: float64(3), object(2)
memory usage: 10.1+ KB

In [19]:
V_rules=rules[rules["lift"]>4]

In [20]:
V_rules.head()

   antecedants consequents   support  confidence      lift
6      (47209)     (37646)  0.065748    0.095238  4.345578
7      (37646)     (47209)  0.021916    0.285714  4.345578
28     (24964)     (45007)  0.036318    0.155172  5.763031
29     (45007)     (24964)  0.026925    0.209302  5.763031
52     (43352)     (16797)  0.025673    0.341463  7.175225

In [21]:
V_rules.to_excel("V_assosiation.xlsx")